---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import { refreshTokenCookie } from '../utils/authClient';
import oauthClient from '../utils/authClient';
import { ProfileForm } from '@/components/quickbooksForm';


// const accessToken = Astro.cookies.get('accessToken')
const refreshToken = Astro.cookies.get('refreshToken');
console.log(refreshToken)
const accessToken = oauthClient.token.getToken();
// console.log("Expiration Time", (Math.floor(accessToken.createdAt / 1000)) + accessToken.expires_in);

const currentTime = Math.floor(Date.now() / 1000);
// console.log("Current Time", currentTime)
// console.log(accessToken)

const expirationTimestamp = (Math.floor(accessToken.createdAt / 1000)) + accessToken.expiresIn

// const expirationDate = new Date(expirationTimestamp * 1000).toLocaleString();

if (!refreshToken) {
    return Astro.redirect('/')
}

if (currentTime >= expirationTimestamp) {
    const refreshAccessToken =  refreshTokenCookie().then(() => {
    console.log("Refresh Access Token", refreshAccessToken);

    Astro.cookies.delete('accessToken');

    Astro.cookies.set("accessToken", refreshAccessToken);
}).catch((error) => {
    console.log(error);
});
}

// if (!accessToken){
//     const refreshAccessToken = refreshTokenCookie();

//     Astro.cookies.set("accessToken", refreshAccessToken);
// }

export const prerender = false;
---

<Layout title="Quickbooks">
    
    <div class="">
        <ProfileForm client:load />

    </div>
</Layout>