---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const loginUrl = '/api/login';

---

<Layout title="Welcome to Astro.">
	<main>
		<a class="text-lg" href={loginUrl} rel="external">Log in with QuickBooks</a>
	</main>
</Layout>
